<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- My CSS -->
    <link th:href="@{/styles/css/main.css}" rel="stylesheet"/>

    <title>Admin page</title>

</head>

<body>

<header>
    <div>
        <nav class="navbar navbar-dark bg-dark text-white">
            <div class="container-fluid justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <div sec:authorize="isAuthenticated()" th:align="center">
                        <b><span sec:authentication="principal.username">Username</span></b>
                        with roles:
                        <i><span sec:authentication="principal.authorities">Roles</span></i>
                    </div>
                </div>
                <div>
                    <form th:method="POST" th:action="@{/logout}" th:align="center">
                        <button type="submit" class="btn btn-dark" value="Logout">Logout</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="container-fluid">

    <div class="row">
        <!--    Левая часть-->
        <div class="col-md-2 flex-column noPadding">
            <div>
                <br>
                <div class="list-group flex-column" id="list-tab" role="tablist">
                    <div sec:authorize="hasRole('ADMIN')">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                           href="#list-admin" role="tab" aria-controls="home">Admin</a>
                    </div>
                    <div sec:authorize="hasAnyRole('ADMIN', 'USER')">
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                           href="#list-profile-user" role="tab" aria-controls="profile"
                           onclick="document.location='/user'">User</a>
                    </div>
                </div>
            </div>
        </div>

        <!--    Правая часть-->
        <div class="col-md-10 mySplit">
            <h1 class="h1adminPanel">Admin panel</h1>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="usersTable" data-toggle="tab" href="#adminPage">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="newUser" data-toggle="tab" href="#addUser">New User</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="adminPage" role="tabpanel"
                     aria-labelledby="usersTable">
                    <div class="tab-content" id="admin" style="background-color: white">
                        <div class="card">
                            <div class="card-block" id="usersTableDiv">
                                <table class="table table-hover table-striped">
                                    <tr>
                                        <td>
                                            <h4>All users</h4>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table table-hover table-striped table-responsive-lg usersTable">
                                    <thead>
                                    <tr>
                                        <th class="thId">ID</th>
                                        <th class="thFirstname">First Name</th>
                                        <th class="thLastname">Last Name</th>
                                        <th class="thUsername">Username</th>
                                        <th class="thAge">Age</th>
                                        <th class="thEmail">Email</th>
                                        <th class="thRole">Role</th>
                                        <th class="thEdit">Edit</th>
                                        <th class="thDelete">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbodyAllUsersTable">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="addUser" role="tabpanel" aria-labelledby="newUser">
                    <div class="card">
                        <div class="card-header">
                            <h5>Add new user</h5>
                        </div>
                        <br>
                        <div class="container-fluid col-md-3 text-center">
                            <div th:align="center">
                                <form id="formNewUser" name="formNewUser">
                                    <div class="form-group">
                                        <label class="control-label font-weight-bold" for="firstName">First
                                            name</label>
                                        <input type="text" class="form-control" name="firstName" id="firstName"
                                               placeholder="First name"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label font-weight-bold" for="lastName">Last
                                            name</label>
                                        <input type="text" class="form-control" name="lastName" id="lastName"
                                               placeholder="Last name"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label font-weight-bold" for="username">Username</label>
                                        <input type="text" class="form-control" name="username" id="username"
                                               placeholder="Username"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label font-weight-bold" for="age">Age</label>
                                        <input type="number" class="form-control" name="age" id="age"
                                               placeholder="Age"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label font-weight-bold" for="email">Email</label>
                                        <input type="email" class="form-control" name="email" id="email"
                                               placeholder="Email"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label font-weight-bold"
                                               for="password">Password</label>
                                        <input type="password" class="form-control" name="password" id="password"
                                               placeholder="Password">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="addRoles"
                                               class="font-weight-bold">Role </label>
                                        <select class="form-control" id="addRoles"
                                                name="roles" multiple>
                                        </select>
                                    </div>


                                    <button type="submit" class="btn btn-success btn-lg">Add new user</button>

                                </form>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" data-toggle="modal" id="edit" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalEdit" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalEdit">Edit user</h5>
                                <button type="button" class="close"
                                        data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formEditUser">
                                    <div class="container-fluid col-md-6 text-center">
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="idEdit">ID</label>
                                            <input type="number" class="form-control" th:name="id"
                                                   id="idEdit" readonly="readonly"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="firstNameEdit">First
                                                name</label>
                                            <input type="text" class="form-control"
                                                   th:name="firstName" id="firstNameEdit"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold"
                                                   for="lastNameEdit"> Last name </label>
                                            <input type="text" class="form-control" th:name="lastName"
                                                   id="lastNameEdit"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold"
                                                   for="usernameEdit">Username</label>
                                            <input type="text" class="form-control" th:name="username"
                                                   id="usernameEdit"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="ageEdit">Age</label>
                                            <input type="number" class="form-control" th:name="age"
                                                   id="ageEdit"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="emailEdit">Email</label>
                                            <input type="email" class="form-control" th:name="email" id="emailEdit"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold"
                                                   for="passwordEdit">Password</label>
                                            <input type="password" class="form-control" th:name="password"
                                                   id="passwordEdit"/>
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="editRoles" class="font-weight-bold">Role</label>
                                            <select class="form-control" id="editRoles" th:name="roles" multiple>
                                            </select>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" id="editFormCloseButton"
                                                data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">
                                            Edit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" data-toggle="modal" id="delete" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalDelete" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalDelete">Delete user</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="formDeleteUser">
                                    <div class="container-fluid col-md-6 text-center">
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="idDelete">ID</label>
                                            <input type="number" class="form-control" th:name="id" id="idDelete"
                                                   readonly="readonly"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="firstNameDelete">
                                                Firstname
                                            </label>
                                            <input type="text" class="form-control" th:name="firstName"
                                                   id="firstNameDelete" readonly="readonly"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="lastNameDelete">
                                                Last name
                                            </label>
                                            <input type="text" class="form-control" th:name="lastName"
                                                   id="lastNameDelete" readonly="readonly"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="usernameDelete">
                                                Username
                                            </label>
                                            <input type="text" class="form-control" th:name="username"
                                                   id="usernameDelete" readonly="readonly"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="ageDelete">Age</label>
                                            <input type="number" class="form-control" th:name="age"
                                                   id="ageDelete" readonly="readonly"/>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="emailDelete">
                                                Email
                                            </label>
                                            <input type="email" class="form-control" th:name="email"
                                                   id="emailDelete" readonly="readonly"/>
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="deleteRoles"
                                                   class="font-weight-bold">Role</label>
                                            <select class="form-control" id="deleteRoles" th:name="roles"
                                                    multiple disabled>
                                            </select>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" id="deleteFormCloseButton"
                                                data-dismiss="modal">
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-danger">
                                            Delete
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- My JavaScript -->
<script src="/static/js/adminPage.js" th:src="@{/static/js/adminPage.js}" type="text/javascript"></script>

<script src="/static/js/newUser.js" th:src="@{/static/js/newUser.js}" type="text/javascript"></script>

<script src="/static/js/editUser.js" th:src="@{/static/js/editUser.js}" type="text/javascript"></script>

<script src="/static/js/deleteUser.js" th:src="@{/static/js/deleteUser.js}" type="text/javascript"></script>

</body>
</html>